@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }


@keyframes fall {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(300px) scale(0.5);
        opacity: 0;
    }
}
.animate-fall {
    animation: fall 1s forwards;
}
